<style>body {background-image: none; background-color: cadetblue;}</style>
<h1 class="text-center">Editing Task</h1>

<%= render 'form' %>
<div class="linkbutton">
<%= link_to 'Show', @task %> |
<%= link_to 'Back', tasks_path %>
</div>