<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">

<style>body {background-image: none; background-color: cadetblue; } 
	h1{font-family: 'Amatic SC', cursive; font-size: 60px; }
	h2{font-family: 'Amatic SC', cursive; font-size: 40px; display: inline;}
	</style>

 

<div class="about">
<h1>About Us</h1>

<p> The purpose of this product is to redefine and improve people's productivity. The end goal is that by listing all your tasks in an easy to access location, it will help you cut down on procrastination. </p>

<h1>Current Tech Stack</h1>

<ul>
	<li>Ruby On Rails</li>
	<li>Devise</li>
	<li>Postgres</li> 
	<li>Bootstrap </li> 
	<li>jQuery </li>
	<li>HTML5 & CSS3</li>
</ul>

<h1>History</h1>

<p> This project was originally started when Aziz was looking for a way to have a locally hosted task management suite that could be easily deployed over multiple servers as well as hosted on the internet. While tools exist to manage tasks, they are mainly cloud-based and do not offer the option of local hosting. In today’s security landscape, there is value in having control of all your personal data. Having a locally hosted solution that is open source can benefit you by minimizing data losses and grant you peace of mind.  </p>


<h1>Initial Phase</h1>

<p> The project was initially built with a simple JS * PHP backend using localstorage as the datastore. The goal was to get a proof of concept up and running as quickly as possible and to then iterate upon the initial version. This phase allowed basic data entry but did not have standard security practices implemented. </p>

<h1>Moving to Rails</h1>

<p> As the product was further developed, it became evident that a new solution was needed to aid in ease of development and implementation of security best practices. While evaluating different frameworks, care was taken to ensure that the chosen framework met the requirements and had the ability to reasonably expand to new requirements in the future. Emphasis was also placed on how easily the project could get up and running so more time would be spent using the product instead of debugging issues. Finally, existing library support was also a great concern. </p>

<h1>Looking Forward</h1>

<p> There are multiple enhancements in the pipeline for AzizDo: </p>
<br>
<ol><li>One forward looking goal of this project is to integrate the functionality of TimeTracker (another project meant for tracking hours over the course of a day) into AzizDo so there can be one seamless tracking of hours spent correlated with tasks. </li> 
<li>Another enhancement is to improve performance when many cars are placed on the board. </li> 
<li>We will like to investigate and evaluate more complex frameworks like Elixir and the Phoenix Framework. </li> 
</ol>
</div>
