<div class="jumbotron">
    <h1><i class="fa fa-check-square-o" aria-hidden="true"></i>Welcome to Azizdo</h1>
    <p> The last task manager you will ever need! </p>
    <%= link_to "Sign up now!", new_user_registration_path, class: ' btn btn-primary btn-lg ' %>
    
</div>

